<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSU</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
{% load static %}
<div class="container">
<h2>{{ hanke }}</h2>
<p>{{ hanke.tavoite }}</p>
<p>{{ hanke.tyyppi }}</p>
<p>{{ hanke.aika }}</p>
<p>{{ hanke.miksi }}</p>

    <img src="{% static "images/"%}{{ hanke.etu_set.first.kuva }}" style="block-size: 500px"><br>
    <img src="{% static "images/"%}Rauhoitettu_kohde_Fingerpori.jpg" class="img-responsive" alt="Logos und legos">




</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>