<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Käännökone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
{% load static %}
<a href="{% url 'hanke'%}" class="btn btn-outline-info btn-sm">Kotiin</a>
<div class="container">
    <h2>Tähän kielten valinta ja käännettävä teksti sekä käännetty teksti</h2>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>