{#{% extends 'msu/hanke_list.html' %}#}
{##}
{#{% block content %}#}
  <div id="container" style="width: 75%;">
    <canvas id="edutChart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    var config = {
      type: 'bar',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#c2f0c2', '#99e699', '#5cd65c', '#2eb82e', '#248f24', '#196619', '#0f3d0f','#4dd2ff', '#00bfff',
              '#0086b3', '#006080','#00394d', '#ff471a', '#cc2900', '#801a00'
          ],
          label: 'Etuudet'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };
    window.onload = function() {
      var ctx = document.getElementById('edutChart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
  </script>

{#{% endblock %}#}