<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<style>
    table, th, td {
        border: 2px solid gray;
        padding: 15px;
    }
</style>
</head>
<body>
<a href="{% url 'hanke'%}" class="btn btn-outline-info btn-sm">Kotiin</a>
<div class="container">
    <h2>Osakeomistus Helsingin pörssissä.  Määrät ja osinko-odotus.</h2>
    <div class="row">
        <table>
            <tr>
                <th><a href="https://www.kauppalehti.fi/porssi/porssikurssit/osake/ILK2S" target="_blank"> Ilkka 2 </a></th>
                <th><a href="https://www.kauppalehti.fi/porssi/porssikurssit/osake/OKDBV" target="_blank"> Oriola B </a></th>
                <th><a href="https://www.kauppalehti.fi/porssi/porssikurssit/osake/ORNBV" target="_blank"> Orion B </a></th>
                <th><a href="https://www.kauppalehti.fi/porssi/porssikurssit/osake/STERV" target="_blank"> Stora Enso B </a></th>
                <th><a href="https://www.kauppalehti.fi/porssi/porssikurssit/osake/TIETO" target="_blank"> TietoEVRY </a></th>
                <th><a href="https://www.kauppalehti.fi/porssi/porssikurssit/osake/UPM" target="_blank"> UPM Kymmene </a></th>
                <th><a href="https://www.kauppalehti.fi/porssi/porssikurssit/osake/WRT1V" target="_blank"> Wärtsilä </a></th>
                <th><a href="https://www.kauppalehti.fi/porssi/porssikurssit/osake/YIT" target="_blank"> YIT </a></th>
            </tr>
            <tr>
                <td><h2>100 kpl</h2></td>
                <td><h2>250 kpl</h2></td>
                <td><h2>62 kpl</h2></td>
                <td><h2>235 kpl</h2></td>
                <td><h2>686 kpl</h2></td>
                <td><h2>60 kpl</h2></td>
                <td><h2>680 kpl</h2></td>
                <td><h2>200 kpl</h2></td>
            </tr>
            <tr>
                <td><h2>20 €</h2></td>
                <td><h2>23 €</h2></td>
                <td><h2>93 €</h2></td>
                <td><h2>118 €</h2></td>
                <td><h2>871 €</h2></td>
                <td><h2>78 €</h2></td>
                <td><h2>326 €</h2></td>
                <td><h2>56 €</h2></td>
            </tr>

        </table>
    </div>
</div>



</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>