<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<a href="{% url 'hanke'%}" class="btn btn-outline-info btn-sm">Kotiin</a>
<a class="btn btn-outline-success btn-sm" href="https://api.nasa.gov/planetary/earth/imagery?lon=24.7820874&lat=60.1809746&dim=0.15&date=2020-09-09&api_key={{ view.nasakey }}" target="_blank">From Above You</a>
<a class="btn btn-outline-success btn-sm" href="https://api.nasa.gov/planetary/earth/imagery?lon=4.502382&lat=50.859148&dim=0.15&date=2020-06-01&api_key={{ view.nasakey }}" target="_blank">From Above Arto</a>
<a class="btn btn-outline-success btn-sm" href="https://api.nasa.gov/planetary/earth/imagery?lon=24.500972767&lat=67.556537062&dim=0.15&date=2020-06-15&api_key={{ view.nasakey }}" target="_blank">Neitokainen</a>
<hr>
{% load static %}
<div class="container">
    <h1>"Taustalla tapahtuu" -esimerkki </h1>
    <h2>Alla olevalta listalta voi valita Yhdysvaltalaisten postinumeroiden perusteella haettuja NASAn Lantsat 8 satelliitin ottamia kuvia. </h2>
    <h5>Sovellukseen voidaan lisätä uusia postiosoitteita Django Adminin kautta (myöh. Vue.js).
        Pelkän postinumeron perusteella haetaan kohteen tarvittavat tiedot longituudi, latituudi, paikan nimi sekä osavaltio.
        Nämä tiedot tallennetaan taustalla suoraan relaatiokantaan (tässä SQLite).
        Valintalista täytetään helposti tunnistettavilla tiedoilla "Key West, FL" ja valitsemalla näytetään viimeisin(!) sateliittikuva alueelta.
    </h5>
    {#<a class="dropdown-item" href="https://api.nasa.gov/planetary/earth/imagery?lon={{ object.lon }}&lat={{ object.lat }}&dim=0.15&api_key={{ view.nasakey }}" target="_blank">#}
    <hr>
    <div class="dropdown dropright">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Sateliittikuvia Yhdysvaltain alueelta</button>
            <div class="dropdown-menu">
              {% for object in object_list %}
                  <a class="dropdown-item" href="https://api.nasa.gov/planetary/earth/imagery?lon={{ object.lon }}
{#                  &lat={{ object.lat }}&dim=0.2&api_key={{ view.nasakey }}" target="_blank">#}
                  &lat={{ object.lat }}&dim=0.2&date=2020-11-12&api_key={{ view.nasakey }}" target="_blank">
                      {{ object.paikka }}, {{ object.osavaltio }}</a>
              {% endfor %}
            </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>